body{
    font-size: 30px;
}

.elInput{
border: none;
outline: none;
}

.toDos{
    display: flex;
    justify-content: space-around;
    color: #36353557;
    font-size: 100px;
}


.container{
    background: white;
}

.does{
    padding-inline-start: 60px;
    padding-top: 1%;

}

.contenedorDo{
    color:#616461e8;
}

.contenedorDo:hover .deleteBoton{
    display: block;
}

input{
    width: 100%;
    height: 60px;
    margin-left: 0px !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-inline-start: 60px;
    
}

.contenedor {
    width: 70%;
    margin: 0 auto;
    box-shadow: 10px 5px 20px #8080807a;
}
  
.deleteBoton {
    display: none;
    border: none;
    background-color: white;
    color:#36353557;
    padding-top: 5px;
}

.deleteBoton:hover{
    color: #d4111157;
}


p{
    background: white;
}

.footer{
    font-size: 20px;
    padding: 10px;
    color:#36353557;
    z-index: 0;
}

.footer1{
    font-size: 20px;
    padding: 10px;
    color: #36353557;
    margin: 0 auto;
    width: 65%;
    margin-top: -55px;
    z-index: 1;
}
